.clockContainer {
    height: 40vw;
    width: 40vw;
    margin: auto;
    background-image: url(/images/clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 2px solid red;
    position: relative;

}

#hour,
#second,
#minute {
    position: absolute;
    background-color: black;
    border: 10px;

}

#hour {
    height: 25%;
    width: 1.8%;
    top: 25%;
    left: 48.8%;
    opacity: 0.8;

}

#minute {
    height: 30%;
    width: 1.6%;
    top: 19%;
    left: 48.8%;
    opacity: 0.8;


}

#second {
    height: 40%;
    width: 1%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;

}